# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
